#header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.number {
  display: grid;
  grid-template-columns: repeat(4, 20px);
  grid-template-rows: repeat(7, 20px);
}

.number.active {
  box-shadow: 1px 1px 10px gray;
}
  
.container  {
  position: relative;
  border: 0.5px solid lightgray;
}

.triangle {
  position: absolute;
  width: 0; 
  height: 0; 
  top: 0;
  left: 0;
}

.triangle-bottom {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: 10px;
  border-bottom: 10px solid black;
}

.triangle-top {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

.triangle-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

.triangle-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  left: 10px;
  border-right:10px solid black; 
}

.full-background {
  background-color: black;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 20px);
  grid-template-rows: repeat(13, 20px);
  box-shadow: 2px 2px 2px black;
  height: calc(13 * 20px);
  width: calc(16 * 20px);
  border: 1px solid black;
}

#menu {
  width: 100%;
  background-color: red;
  margin-bottom: 10px;
}

.grid-container:hover {
  box-shadow: 1px 1px 1px gray;
}